html{
    font-size:10px;
}
*{
     background-color:#e2e2e1; 
    color:#000000; 
    margin:0;
padding:0;
box-sizing: border-box; 
}



#main{
   
    height:100vh;
   width:100vw;
   margin:10px;
display:grid;
grid-template-columns: 1fr 3fr;
grid-auto-rows: minmax(50px;auto);
grid-gap:10px;
grid-template-areas: 
"header header "
"image image"
"quote body"
"footer footer"
}

.header-bar{
    
    grid-area:header;
    text-align:center;
    
}
#title{
    background-color: #ada0ae; 
    font-size:4rem;
    font-weight:800;
}

.subtitle{
    background-color: #ada0ae;;
    font-size:2.5rem;
    font-weight:600;
}


#image{
    max-width: 100%;
  height: auto;

}



#img-div{
    
    padding:50px;
    display:flex;
    justify-content: center;
    align-items: center;
grid-area: image;
text-align:center;
}



#img-caption{
    font-size:2rem;
}

  

#tribute-info{
    grid-area: body;
    font-size:2rem;
background-color:inherit;
width:90%;
}

.intro-para{
    text-align: justify;
    width:90%;
    margin-left:25px;
}


h2{
    margin-left:20px;
}
ul{
   
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px;
    text-align: justify;
    border:2px solid gray;
    padding:30px;
    border-radius:40px;
    background-color: white;
}
li{
    background-color: white;
    color:#2b2a2a
}

}
.quotes{
    display:flex;
    flex-direction: column;
    grid-area:quote;
   flex-wrap:wrap;
   
}
.quote-1, .quote-2 {
    background-color:#A0AEAD;   
border:2px double #000000;
padding:40px;
border-radius: 50px;
font-size:1.5rem;
}

.quote-1{
    margin-bottom:30px;
}

.quote-1 em, .quote-2 em {
    background-color:#A0AEAD;
    color:#ffffff;
}

a{
    color:#0000ff;
    text-decoration: none;
text-align: center;
margin-left:20px;
}

a:hover{
    color:#0080FF;
    text-decoration: underline;
}

a:visited{
    color:#8000FF:
}

footer{
   background-color:#ada0ae;
   font-weight:600;
    grid-area: footer;
    font-size: 2.5rem;
    text-align:center;
    padding:20px;
  
}


























