:root{
    --light: #D9D8EA;
    --dark: #44427C;
    --brown: #A75B58;
    --green: #58A75B;
   
}

html{
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

*{
margin:0;
padding:0;
box-sizing: border-box;
line-height: 1.5;
}

#main{
    
    background:var(--light);
    display: grid;
    grid-gap:10px;
    grid-template-areas: 
    "header"
    "image"
    "info"
    "quote"
    "footer"
    ;
  
}



.header-bar{
grid-area:header;
background:var(--dark);
color:#ffffff;
text-align: center;
}

#title{
font-size:2.5rem;
font-weight: 700;
}

.subtitle{
    font-size:1.8rem;
    font-weight: 500;
    font-style: italic;
}


#img-div{
   text-align: center;
    grid-area:image;
}

#image{
    max-width:100%;
    display:block;
    
}

img{
    width:50%;
}



#tribute-info{
grid-area:info;
font-size:1.6rem;
text-align: justify;
margin: 0px 20px 0px 20px;
}
.time-heading{
    font-size:2rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.timeline ul{
    margin: 0px 20px 0px 20px;

}

#tribute-link{
  text-decoration: none;
  color:var(--brown)
}

#tribute-link:hover{
    text-decoration: underline;
    color:var(--green);

  }

#tribute-quotes{
    grid-area:quote;
}

.quote-heading{
    text-align: center;
    font-size:2rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.quotes{
    padding:40px;
    display:flex;
    flex-wrap: wrap;
    gap:20px;
    text-align: center;
}

.quote-1, .quote-2{
    background:#ffdbda;
    padding:40px;
    border: 2px double black;
    font-size: 1.6rem;
    border-radius: 40px;
}

#footer{
    grid-area:footer;
    background: var(--dark);
    font-size: 1.5rem;
    text-align: center;
}

@media(min-width:600px){
    #main{
  grid-gap:30px;
    }
    
    img{
      width:80%;
    }
    
    #img-caption{
      font-size:1.6rem;
    }
  
      .quotes{
          width: 80%;
          margin:auto;
          flex-wrap: nowrap;
      }
  
      .quote-1, .quote-2{
          background:#ffdbda;
          padding:40px;
          border: 2px double black;
          font-size: 1.6rem;
          border-radius: 40px;
      }
  }