:root{
    --light: #D9D8EA;
    --dark: #44427C;
    --brown: #A75B58;
    --green: #58A75B;
   
}



html{
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

*{
margin:0;
padding:0;
box-sizing: border-box;
line-height: 1.5;
}

#main{
    
    background:#D9D8EA;
    
}

.container{

    width:99%;
    margin: 0 auto;
    display: grid;
    grid-gap:20px;
    grid-template-areas: 
    "header"
    "image"
    "info"
    "quote"
    "footer"
    ;
  
}



.header-bar{
grid-area:header;
padding:10px;
background:rgb(67, 65, 124);
color:#f1f1f1;
text-align: center;
}

#title{
font-size:2.5rem;
font-weight: 700;
}

.subtitle{
    font-size:1.8rem;
    font-weight: 500;
    font-style: italic;
}


#img-div{
   text-align: center;
    grid-area:image;
}

#image{
    max-width:100%;
    display:block;
    
}

img{
    
    width:50%;
}



#tribute-info{
    line-height: 1.8;
    border:2px double rgb(141, 141, 141);
    border-radius: 40px;
     background:#ffffff;
     color:#303030;
    padding:3em 2em;
grid-area:info;
font-size:1.6rem;
text-align: justify;
margin: 0px 20px 0px 20px;
}

.time-heading{
     margin:15px 0; 
    font-size:2rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.timeline ul{
    margin: 0px 20px 0px 20px;
    

}

#tribute-link{
  text-decoration: none;
  color:var(--dark)
}

#tribute-link:hover{
    text-decoration: underline;
    color:var(--green);

  }

#tribute-quotes{
    grid-area:quote;
}

.quote-heading{
   
    text-align: center;
    font-size:2rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.quotes{
    text-align: center; 
}

.quote-1, .quote-2{
    margin-top: 20px;
    background:#f5f3f3;
    padding:40px;
    border-top: 2px solid #868686;
    border-bottom: 4px double #868686;
    font-size: 1.6rem;
    color:#303030;
 
}

#footer{
    grid-area:footer;
    padding:20px;
    background: var(--dark);
    font-size: 1.5rem;
    text-align: center;
    color:#f1f1f1;
    font-size: 2em;
}

@media(min-width:600px){

   
    #main{
  grid-gap:30px;
    }
    
    img{
      width:80%;
    }
    
    #img-caption{
      font-size:1.6rem;
    }
  
      .quotes{
          font-size: 2.4em;
         
      }
  
    }